.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item a{
    color: #FFF;
    margin-right: 1em;
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
}

.item .active { 
    color: #FFBB33;
    font-weight: bold;
}